<div class="canvas">
    <div class="circle purple"></div>
    <div class="circle2 purple2"></div>
    <div class="circle3 purple3"></div>
    <div class="circle4 purple4"></div>
    <div class="circle5 purple5"></div>
    <div class="circle6 purple6"></div>
    <div class="circle7 purple7"></div>
    <div class="circle8 purple8"></div>
    <div class="circle9 purple9"></div>
    <div class="circle10 purple10"></div>
    <div class="circle11 purple11"></div>
    <div class="circle12 purple12"></div>
</div>